# Django
ENVIRONMENT=""
BASE_URL=""
SECRET_KEY=""
DEBUG=TRUE


# Telegram
TOKEN=""
ADMIN_CHAT_ID=""
ADMIN_USERNAME=""
REQUIRED_CHANNEL_USER=""
REQUIRED_CHANNEL_ID=""
REQUIRED_GROUP_ID=""
REQUIRED_GROUP_USER=""
REQUIRED_GROUP_ID_AUTH=""
BOT_URL=""


# Selenium